<main>
    <select id="selectRune" class="form-control" name="">
        <option selected>Select Ability</option>
        {{#each abilities}}
            <option value="{{id}}">
                {{name}}
                {{#if level includeZero=false}}
                    {{level}}
                {{/if}} 
            </option>
        {{/each}}
    </select>

    {{#each abilities}}
        <div class="runeInfo">
            <img class="runeImage icon" data-lazy="https://d2aao99y1mip6n.cloudfront.net/images/ability_icons/small/icon_{{iconName}}.gif" alt="Image not found">
            <div class="container">
                <p>Name: {{name}}</p>
                <p>Description: {{shortDescription}}</p>
                <p>AP Cost: {{apCost}}</p>
                <p>Level: {{level}}</p>
                <p>Cooldown: {{cooldown}}</p>
                <p>Nora Cost: {{noraCost}}</p>
            </div>
        </div>
    {{/each}}
</main>
