<main>
    <select id="selectRune" class="form-control">
        <option selected>Select Champion</option>
        {{#each champs}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <form action="/champions" method="POST">
        <select class="form-control" name="faction">
            <option value="" selected>All Factions</option>
            <option value="Forglar Swamp">Forglar Swamp</option>
            <option value="Forsaken Wastes">Forsaken Wastes</option>
            <option value="Ironfist Stronghold">Ironfist Stronghold</option>
            <option value="K'thir Forest">K'thir Forest</option>
            <option value="Savage Tundra">Savage Tundra</option>
            <option value="Shattered Peaks">Shattered Peaks</option>
            <option value="Sundered Lands">Sundered Lands</option>
            <option value="Underdepths">Underdepths</option>
        </select>

        <select class="form-control" name="ability">
            <option value="" selected>All Abilities</option>
            {{#each abilities}}
                <option value="{{name}}">
                    {{name}}
                    {{#if level includeZero = false}} 
                        {{level}}
                    {{/if}}
                </option>
            {{/each}}
        </select>

        <select class="form-control" name="class">
            <option value="" selected>All Classes</option>
            {{#each classes}}
                <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>

        <select class="form-control" name="race">
            <option value="" selected>All Races</option>
            {{#each races}}
                <option value="{{name}}">{{name}}</option>
            {{/each}}
        </select>

        <select class="form-control" name="sort">
            <option value="" selected>Sort By:</option>
            <option value="descend">Sort By Nora Descending</option>
            <option value="ascend">Sort By Nora Ascending</option>
            <option value="name">Sort By Name</option>
        </select>

        <button class="btn btn-lg btn-dark btn-outline-success">
            Find
        </button>
    </form>

    {{#each champs}}
        <div class="runeInfo">
            <img class="runeImage" data-lazy="https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/{{hash}}.jpg" alt="Image not found">
            <div class="container">
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>Range: {{minRng}} - {{maxRng}}</p>
                <p>Defense: {{defense}}</p>
                <p>Speed: {{speed}}</p>
                <p>Damage: {{damage}}</p>
                <p>Hit Points: {{hitPoints}}</p>
                <p>Size: {{size}}</p>
                <p>Rarity: {{rarity}}</p>
                <p>
                    Classes: 
                    {{#each classes}}
                        {{this}} 
                    {{/each}}
                </p>
                <p>
                    Races:
                    {{#each races}}
                        {{this}}
                    {{/each}}
                </p>
                <p>Nora Cost: {{noraCost}}</p>
                <p>Artist: {{artist}}</p>
                <p>
                    Factions:
                    {{#each factions}}
                        {{this}}
                    {{/each}}
                </p>
                <p>Expansion Released: {{runeSet}}</p>
                <p>Deck Limit: {{deckLimit}}</p>
                <p>
                    Starting Abilities:
                    {{#each startingAbilities}}
                        {{this.name}} |
                    {{/each}}
                </p>
                <p>
                    Upgrades:
                    {{#each abilitySets}}
                        {{#each this}}
                            {{#each this}}
                                {{#each this}}
                                    {{this.name}} {{this.level}} Nora Cost: {{this.noraCost}}
                                {{/each}}  |
                            {{/each}}
                        {{/each}}
                    {{/each}}
                </p>
            </div>
        </div>
    {{/each}}
</main>
