<form method="POST">
    <section>
        Name: 
        <input name="name" type="text" value="{{name}}">
    </section>
    
    <section>
        Description: 
        <input name="description" type="text" value="{{description}}">
    </section>

    {{#if flavorText}}
        <section>
            Flavor Text:
            <input name="flavorText" type="text" value="{{flavorText}}">
        </section>
    {{/if}}
    {{!-- Assuming if minRng exists, maxRng also exists --}}
    {{#if minRng}}
        <section>
            Minimum Range: 
            <input name="minRng" type="number" value="{{minRng}}">
        </section>

        <section>
            Maximum Range:
            <input name="maxRng" type="number" value="{{maxRng}}">
        </section>
    {{/if}}

    {{#if defense}}
        <section>
            Defense:
            <input name="defense" type="number" value="{{defense}}">
        </section>
    {{/if}}

    {{#if speed}}
        <section>
            Speed:
            <input name="speed" type="number" value="{{speed}}">
        </section>
    {{/if}}

    {{#if damage}}
        <section>
            Damage: 
            <input name="damage" type="number" value="{{damage}}">
        </section>
    {{/if}}
    
    {{#if hitPoints}}
        <section>
            Hit Points: 
            <input name="hitPoints" type="number" value="{{hitPoints}}">
        </section>
    {{/if}}

    {{#if size}}
        <section>
            Size:
            <input name="size" type="text" value="{{size}}">
        </section>
    {{/if}}

    <Section>
        Rarity: 
        <input name="rarity" type="text" value="{{rarity}}">
    </Section>

    {{#if classes}}
        <section>
            Classes:
            {{#each classes}}
                <input type="text" value="{{this}}">
            {{/each}}
        </section>
    {{/if}}

    {{#if races}}
        <section>
            Races: 
            {{#each races}}
                <input type="text" value="{{this}}">
            {{/each}}
        </section>
    {{/if}}

    <section>
        Nora Cost: 
        <input name="noraCost" type="number" value="{{noraCost}}">
    </section>

    {{#if cooldown}}
        <section>
            Cooldown:
            <input name="cooldown" type="number" value="{{cooldown}}">
        </section>
    {{/if}}

    <Section>
        For Sale: 
        <input name="forSale" type="text" value="{{forSale}}">
    </Section>

    <Section>
        Allow Ranked:
        <input name="allowRanked" type="text" value="{{allowRanked}}">
    </Section>

    <Section>
        Tradeable: 
        <input name="tradeable" type="text" value="{{tradeable}}">
    </Section>

    <section>
        Artist:
        <input name="artist" type="text" value="{{artist}}">
    </section>

    <section>
        Factions:
        {{!-- Runes have at least one faction --}}
        <input type="text" name="faction1" value="{{factions.[0]}}">
        {{!-- Runes have at most 2 factions --}}
        <input type="text" name="faction2" value="{{factions.[1]}}">
    </section>

    <section>
        Expansion Released:
        <input name="runeSet" type="text" value="{{runeSet}}">
    </section>

    <section>
        Deck Limit: 
        <input name="deckLimit" type="number" value="{{deckLimit}}">
    </section>
    {{!-- For images like https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/ej9AJ8Jg3AE8Df1Bf1Aj9Dj9Eerqsxzxfgnjwvqf.jpg --}}
    <section>
        Hash:
        <input name="hash" type="text" value="{{hash}}">
    </section>

    {{#if startingAbilities}}
        <section>
            Starting Abilities: 
            {{#each startingAbilities}}
                <input type="text" value="{{this.name}}">
            {{/each}}
        </section>
    {{/if}}

    {{#if abilitySets}}
        <section>
            Upgrades:
            {{#each abilitySets}}
                {{#each this}}
                    {{#each this}}
                        {{!-- Upgrade {{@index}}: --}}
                        {{#each this}}
                            <input type="text" value="{{this.name}}">
                        {{/each}}  |
                    {{/each}}
                {{/each}}
            {{/each}}
        </section>
    {{/if}}

    <img src="https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/{{hash}}.jpg" alt="No Image Found">
    <input id="editRune" type="button" value="Edit">
</form>