<main>
    <select id="selectRune" class="form-control" name="">
        <option selected>Select Relic</option>
        {{#each relics}}
            <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select>

    <a id="pageLink" href="/relics/">
        <button class="btn btn-lg btn-dark btn-outline-success">
            Find
        </button>
    </a>

    <a href="/relics/create">
        <button class="btn btn-lg btn-dark btn-outline-success">
            Create Relic
        </button>
    </a>

    {{#each relics}}
        <div class="runeInfo">
            <img class="runeImage" src="https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/{{hash}}.jpg" alt="Image not found">
            <div class="container">
                <p>Name: {{name}}</p>
                <p>Description: {{description}}</p>
                <p>Flavor Text: {{flavorText}}</p>
                <p>Nora Cost: {{noraCost}}</p>
                <p>Artist: {{artist}}</p>
                <p>Factions: 
                    {{#each factions}}
                        {{this}} 
                    {{/each}}
                </p>
                <p>Rarity: {{rarity}}</p>
                <p>Expansion Released: {{runeSet}}</p>
                <p>Defense: {{defense}}</p>
                <p>Hitpoints: {{hitPoints}}</p>
                <p>Size: {{size}}</p>
                <p>Deck Limit: {{deckLimit}}</p>
            </div>
        </div>
    {{/each}}
</main>