<div class="runeInfo">
    <img class="runeImage" src="https://d2aao99y1mip6n.cloudfront.net/images/runes/lg/{{hash}}.jpg" alt="Image not found">
    <div class="container">
        <p>Name: {{name}}</p>
        <p>Description: {{description}}</p>
        {{#if flavorText}}
            <p>Flavor Text: {{flavorText}}</p>
        {{/if}}
        {{#if minRng}}
            <p>Range: {{minRng}} - {{maxRng}}</p>
        {{/if}}
        {{#if defense}}
            <p>Defense: {{defense}}</p>
        {{/if}}
        {{#if speed}}
            <p>Speed: {{speed}}</p>
        {{/if}}
        {{#if damage}}
            <p>Damage: {{damage}}</p>
        {{/if}}
        {{#if hitPoints}}
            <p>Hit Points: {{hitPoints}}</p>
        {{/if}}
        {{#if size}}
            <p>Size: {{size}}</p>
        {{/if}}
        <p>Rarity: {{rarity}}</p>
        {{#if classes}}
            <p>
                Classes: 
                {{#each classes}}
                    {{this}} 
                {{/each}}
            </p>
        {{/if}}
        {{#if races}}
            <p>
                Races:
                {{#each races}}
                    {{this}}
                {{/each}}
            </p>
        {{/if}}
        <p>Nora Cost: {{noraCost}}</p>
        {{#if cooldown}}
            <p>Cooldown: {{cooldown}}</p>
        {{/if}}
        <p>Artist: {{artist}}</p>
        <p>
            Factions:
            {{#each factions}}
                {{this}}
            {{/each}}
        </p>
        <p>Expansion Released: {{runeSet}}</p>
        <p>Deck Limit: {{deckLimit}}</p>
        {{#if startingAbilities}}
            <p>
                Starting Abilities:
                {{#each startingAbilities}}
                    {{this.name}} |
                {{/each}}
            </p>
        {{/if}}
        {{#if abilitySets}}
            <p>
                Upgrades:
                {{#each abilitySets}}
                    {{#each this}}
                        {{#each this}}
                            {{!-- Upgrade {{@index}}: --}}
                            {{#each this}}
                                {{this.name}} {{this.level}} Nora Cost: {{this.noraCost}}
                            {{/each}}  |
                        {{/each}}
                    {{/each}}
                {{/each}}
            </p>
        {{/if}}
    </div>
</div>

<div class="btnContainer">
    <button class="btn btn-lg btn-dark btn-outline-success" id="editBtn">
        Edit
    </button>

    <form action="" method="POST">
        <input class="btn btn-lg btn-dark btn-outline-success" id="deleteBtn" type="button" value="Delete">
    </form>
</div>